{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>Welcome to TaskTracker</h1>

<p style="margin-top: 10px; color: #555;">
    Manage your workspaces and tasks efficiently.
</p>

<div style="margin-top: 30px; display: flex; gap: 15px;">
    <a href="{% url 'workspace' %}" 
       style="text-decoration: none; background-color: #4CAF50; color: white; padding: 10px 16px; border-radius: 8px; font-weight: bold;">
        Go to Workspaces
    </a>





</div>

{% endblock %}
